
.second-conatiner {
  display: flex;
  justify-content: center;
}
.p-container {
  width: 50%;
}

.showcase-container {
  width: 50%;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
