$secondary-color: rgba(41, 152, 255, 1);
$white: #ffffff;
$black: #000000;
$grey: #777;;
$box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);

$break-small: 480px;
$break-medium: 768px;
$break-large: 1200px;


